.mobile_controls {
    display: none;
}


@media (max-width: 1000px) {

    .mobile_controls {
        position: absolute;
        width: 100vw;
        height: 20vh;
        bottom: 0;
        left: 0;
        background-color: transparent;
        display: block;
    }
    .arrows {
        position: relative;
        background-color: transparent;
        position: relative;
        width: 30vh;
        height: 30vh;
        left: 7vw;
        bottom: 27vh;
        transform: rotate(45deg);
    }

    .arrows button {
        position: absolute;
        background-color: transparent;
        width: 14vh;
        height: 14vh;
        font-size: 2rem;
        border: none;
    }

    #up {
        left: 0;
        top: 0;
        border-top: solid #000 2px;
        border-left: solid #000 2px;
        background: linear-gradient(-45deg, 
            rgba(255,255,255,0) 0%,
            rgba(255,255,255,0) 20%, 
            rgba(234,234,234,0.2) 40%, 
            rgba(191,191,191,0.5) 60%, 
            rgba(0,0,0,0.804359243697479) 100%
        );
    }
    #up::after {
        content: "";
        width: 40%;
        height: 40%;
        background-color: transparent;
        position: absolute;
        bottom: 20%;
        right: 20%;
        border-bottom: solid #424242 1px;
        border-right: solid #424242 1px;
    }
    #up::before {
        content: "";
        width: 80%;
        height: 80%;
        background-color: transparent;
        position: absolute;
        top: 5%;
        left: 5%;
        border-top: solid #979797 1px;
        border-left: solid #979797 1px;
    }


    #right {
        top: 0;
        right: 0;
        border-top: solid #000 2px;
        border-right: solid #000 2px;
        background: linear-gradient(45deg, 
            rgba(255,255,255,0) 0%,
            rgba(255,255,255,0) 20%, 
            rgba(234,234,234,0.2) 40%, 
            rgba(191,191,191,0.5) 60%, 
            rgba(0,0,0,0.804359243697479) 100%
        );
    }
    #right::after {
        content: "";
        width: 40%;
        height: 40%;
        background-color: transparent;
        position: absolute;
        bottom: 20%;
        left: 20%;
        border-bottom: solid #424242 1px;
        border-left: solid #424242 1px;
    }
    #right::before {
        content: "";
        width: 80%;
        height: 80%;
        background-color: transparent;
        position: absolute;
        top: 5%;
        right: 5%;
        border-top: solid #979797 1px;
        border-right: solid #979797 1px;
    }


    #down {
        bottom: 0;
        right: 0;
        border-bottom: solid #000 2px;
        border-right: solid #000 2px;
        background: linear-gradient(135deg, 
            rgba(255,255,255,0) 0%,
            rgba(255,255,255,0) 20%, 
            rgba(234,234,234,0.2) 40%, 
            rgba(191,191,191,0.5) 60%, 
            rgba(0,0,0,0.804359243697479) 100%
        );
    }
    #down::after {
        content: "";
        width: 40%;
        height: 40%;
        background-color: transparent;
        position: absolute;
        top: 20%;
        left: 20%;
        border-top: solid #424242 1px;
        border-left: solid #424242 1px;
    }
    #down::before {
        content: "";
        width: 80%;
        height: 80%;
        background-color: transparent;
        position: absolute;
        bottom: 5%;
        right: 5%;
        border-bottom: solid #979797 1px;
        border-right: solid #979797 1px;
    }


    #left {
        bottom: 0;
        left: 0;
        border-bottom: solid #000 2px;
        border-left: solid #000 2px;
        background: linear-gradient(-135deg, 
            rgba(255,255,255,0) 0%,
            rgba(255,255,255,0) 20%, 
            rgba(234,234,234,0.2) 40%, 
            rgba(191,191,191,0.5) 60%, 
            rgba(0,0,0,0.804359243697479) 100%
        );
    }
    #left::after {
        content: "";
        width: 40%;
        height: 40%;
        background-color: transparent;
        position: absolute;
        top: 20%;
        right: 20%;
        border-top: solid #424242 1px;
        border-right: solid #424242 1px;
    }
    #left::before {
        content: "";
        width: 80%;
        height: 80%;
        background-color: transparent;
        position: absolute;
        bottom: 5%;
        left: 5%;
        border-bottom: solid #979797 1px;
        border-left: solid #979797 1px;
    }

    .aditional_buttons {
        position: absolute;
        width: 20vw;
        height: 100vh;
        bottom: 0;
        right: 0;
    }

    .run {
        position: absolute;
        transform: rotate(45deg);
        bottom: 20vh;
        width: 17vh;
        height: 17vh;
        border: none;
        border-top: solid #000 2px;
        border-right: solid #000 2px;
        background: linear-gradient(45deg, 
            rgba(255,255,255,0) 0%,
            rgba(255,255,255,0) 20%, 
            rgba(234,234,234,0.2) 40%, 
            rgba(191,191,191,0.5) 60%, 
            rgba(0,0,0,0.804359243697479) 100%
        );
    }
    .run::after {
        content: "";
        width: 20%;
        height: 20%;
        background-color: transparent;
        position: absolute;
        bottom: 20%;
        left: 20%;
        border-bottom: solid #424242 1px;
        border-left: solid #424242 1px;
    }
    .run::before {
        content: "";
        width: 60%;
        height: 60%;
        background-color: transparent;
        position: absolute;
        top: 20%;
        right: 20%;
        border-top: solid #000 1px;
        border-right: solid #000 1px;
    }

    #run {
        position: relative;
        width: 100%;
        height: 100%;
        background: transparent;
        z-index: 2;
    }
    #run::after {
        content: "";
        width: 76%;
        height: 76%;
        background-color: transparent;
        position: absolute;
        top: 7%;
        right: 7%;
        border-top: solid #979797 1px;
        border-right: solid #979797 1px;
    }
    #run::before {
        content: "";
        width: 40%;
        height: 40%;
        background-color: transparent;
        position: absolute;
        bottom: 30%;
        left: 30%;
        border-top: solid #7c7c7c 1px;
        border-right: solid #7c7c7c 1px;
    }

    #toggle_menu {
        position: absolute;
        top: 4vh;
        right: 4vh;
        height: 7vh;
        width: 10vh;
        background: linear-gradient(0deg, rgba(11,11,11,0.8) 0%, 
            rgba(226,226,226,0.3) 30%, 
            rgba(255,255,255,0.1) 50%, 
            rgba(224,224,224,0.3) 70%, 
            rgba(0,0,0,0.7959558823529411) 100%
        );
        border: solid 2px #000;
    }
    #toggle_menu::after {
        content: "";
        position: absolute;
        background: transparent;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 20%;
        border-top: solid 2px #000;
        border-bottom: solid 2px #000;
    }
    #toggle_menu::before {
        content: "";
        background: transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 90%;
        width: 90%;
        border: solid 1px #979797;
    }

    @media only screen and (orientation:portrait) {
        .mobile_controls {
            width: 100vh;
            height: 20vw;
        }
        .arrows {
            width: 30vw;
            height: 30vw;
            left: 7vh;
            bottom: 27vw;
        }
    
        .arrows button {
            width: 14vw;
            height: 14vw;
        }
    
        .aditional_buttons {
            width: 20vh;
            height: 100vw;
        }
    
        .run {
            bottom: 20vw;
            width: 17vw;
            height: 17vw;
            right: 10vw;
        }
    
        #toggle_menu {
            top: 4vw;
            right: 4vw;
            height: 7vw;
            width: 10vw;
        }
    }

}
