* {
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
}

video {
    position: absolute;
    top: 0;
    left: 0;
}   

#start {
    position: absolute;
    width: 20vh;
    height: 10vh;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-size: 5vh;
    z-index: 2;
}

@media only screen and (orientation:portrait) {
    #start {
        width: 20vw;
        height: 10vw;
        font-size: 5vw;
        top: 50%;
        right: 0;
    }
}


._hidden {
    display: none;
}