* {
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
}

video {
    position: absolute;
    top: 0;
    left: 0;
}

#menu {
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 70vh;

    background: rgba(0,0,0,0.7);
    border: solid goldenrod 0.3px;
    border-radius: 0.2rem;
    box-shadow: 0 0 4rem 1rem rgba(45,45,45, 0.3), 0 0 1.4rem 0.8rem rgba(45,45,45, 0.7);
    color: gold;
    /* backdrop-filter: blur(5px); */
}

#menu nav {
    font: bold 1.3rem sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid goldenrod 0.1px;
    height: 4rem;
}
.parameters {
    position: relative;
    margin: 2rem 3rem 0 3rem;
    font: 1rem sans-serif;
}
.parameters div {
    margin-bottom: 0.5rem;
}
.parameters button{
    width: 1rem;
    height: 1rem;
    margin-left: 0.2rem;
}
.parameters span {
    margin: 0 0.5rem;
    color: #fff;
}

.points {
    position: absolute;
    top: 0;
    right: 0;
}

._hidden {
    display: none;
}


.mobile_controls {
    position: absolute;
    width: 100vw;
    height: 20vh;
    bottom: 0;
    left: 0;
    background-color: black;
}
.arrows {
    position: relative;
    background-color: #fff;
    position: relative;
    width: 30vh;
    height: 30vh;
    left: 7vw;
    bottom: 12vw;
    transform: rotate(45deg);
}

.arrows div {
    position: absolute;
    background-color: blue;
    width: 14vh;
    height: 14vh;
    font-size: 2rem;
}

#up {
    left: 0;
    top: 0;
}
#right {
    top: 0;
    right: 0;
}
#down {
    bottom: 0;
    right: 0;
}
#left {
    bottom: 0;
    left: 0;
}

