* {
    padding: 0;
    margin: 0;
}

body {
    background-color: transparent;
    overflow: hidden;
}

video {
    position: absolute;
    top: 0;
    left: 0;
}  

/* #start {
    position: absolute;
    width: 20vh;
    height: 10vh;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-size: 5vh;
    z-index: 2;
} */

.start_menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start_menu button {
    margin-bottom: 5vh;
    width: 20vh;
    height: 10vh;
}

@media only screen and (orientation:portrait) {
    .start_menu {
        top: 50%;
        right: -50%;
        transform: translate(0, -50%);
    }
    .start_menu button {
        margin-bottom: 5vw;
        width: 20vw;
        height: 10vw;
    }
}


._hidden {
    display: none;
}