#menu {
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 70vh;

    background: rgba(0,0,0,0.7);
    border: solid goldenrod 0.3px;
    border-radius: 0.2rem;
    box-shadow: 0 0 4rem 1rem rgba(45,45,45, 0.3), 0 0 1.4rem 0.8rem rgba(45,45,45, 0.7);
    color: gold;
    /* backdrop-filter: blur(5px); */
}

#menu nav {
    font: bold 1.3rem sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid goldenrod 0.1px;
    height: 4rem;
}
.parameters {
    position: relative;
    margin: 2rem 3rem 0 3rem;
    font: 1rem sans-serif;
}
.parameters div {
    margin-bottom: 0.5rem;
}
.parameters button{
    width: 1rem;
    height: 1rem;
    margin-left: 0.2rem;
}
.parameters span {
    margin: 0 0.5rem;
    color: #fff;
}

.points {
    position: absolute;
    top: 0;
    right: 0;
}


@media (max-width: 800px) {
    #menu nav {
        font-size: 1rem;
        height: 2rem;
    }
    .parameters {
        margin: 1.5rem 1.8rem 0 1.8rem;
    }
}